<template>
    <form
        class=""
        @submit.prevent="handleAddNewColumn"
    >
        <div class="p-3 flex-1">
            <input
                class="flex-1 text-lg input-column border-gray-600 border-b rounded py-1 px-2"
                type="text"
                placeholder="Enter a title"
                v-model.trim="newColumn.title"
            />
            <button
                type="submit"
                class="text-white py-1 px-3 bg-gray-600 rounded leading-5"
            >
                Add Column
            </button>
            <div v-show="errorMessage">
        <span class="text-xs text-red-500">
          {{ errorMessage }}
        </span>
            </div>
        </div>

    </form>
</template>

<script>
    export default {
        name: "AddColumnForm",
        data() {
            return {
                newColumn: {
                    title: ""
                },
                errorMessage: ""
            };
        },
        methods: {
            handleAddNewColumn() {
                // Basic validation so we don't send an empty task to the server
                if (!this.newColumn.title) {
                    this.errorMessage = "The title field is required";
                    return;
                }
                console.log(this.newColumn);
                // Send new card to server
                axios
                    .post('http://localhost/kanbanvue/public/columns', this.newColumn)
                    .then(res => {
                        // Tell the parent component we've added a new card and include it
                        this.newColumn.title="";
                        this.$emit("column-added", res.data);
                    })
                    .catch(err => {
                        // Handle the error returned from our request
                        this.handleErrors(err);
                    });
            },
            handleErrors(err) {
                if (err.response && err.response.status === 422) {
                    // We have a validation error
                    const errorBag = err.response.data.errors;
                    if (errorBag.title) {
                        this.errorMessage = errorBag.title[0];
                    } else if (errorBag.description) {
                        this.errorMessage = errorBag.description[0];
                    } else {
                        this.errorMessage = err.response.message;
                    }
                } else {
                    // We have bigger problems
                    console.log(err.response);
                }
            }
        }
    }
</script>

<style scoped>

</style>
