<template>
    <div>
        <div class="add-column">
            <AddColumnForm v-on:column-added="handleColumnAdded"/>
        </div>

        <div class="relative p-2 flex overflow-x-auto h-full">

            <!-- Columns -->
            <div
                v-for="column in columns"
                :key="column.slug"
                class="mr-6 w-4/5 max-w-xs flex-shrink-0"
            >
                <div class="rounded-md shadow-md overflow-hidden">
                    <div class="p-3 flex justify-between items-baseline bg-green-400 ">
                        <h4 class="font-medium text-white column-title">
                            {{ column.title }}
                        </h4>
                        <button
                            @click="openAddCardForm(column.id)"
                            class="py-1 px-2 text-sm text-white hover:bg-gray-600" title="Add Card"
                        >
                            <i class="icon-copy fa fa-plus" aria-hidden="true"></i>
                        </button>

                        <button
                            @click="deleteColumn(column.id)"
                            class="py-1 px-2 text-sm text-white hover:bg-orange-300" title="Delete Column"
                        >
                            <i class="far fa-window-close"></i>
                        </button>
                    </div>
                    <div class="p-2 bg-gray-300">
                        <!-- AddCardForm -->
                        <AddCardForm
                            v-if="newCardForColumn === column.id"
                            :column-id="column.id"
                            v-on:card-added="handleCardAdded"
                            v-on:card-canceled="closeAddCardForm"
                        />
                        <!-- ./AddCardForm -->

                        <!-- Cards -->
                        <draggable
                            class="flex-1 overflow-hidden"
                            v-model="column.cards"
                            v-bind="TaskDragOptions"
                            @end="handleCardMoved"
                        >
                            <transition-group
                                class="flex-1 flex flex-col h-full overflow-x-hidden overflow-y-auto rounded shadow-xs"
                                tag="div"
                            >
                                <div
                                    v-for="card in column.cards"
                                    :key="card.id"
                                    class="mb-3 p-4 flex flex-col bg-white rounded-md shadow transform hover:shadow-md cursor-pointer"
                                >
                <span class="block mb-2 text-xl text-gray-900">
                    <a @click="editCard(card)" >{{ card.title }}</a>
                </span>
                                </div>
                                <!-- ./Cards -->
                            </transition-group>
                        </draggable>
                        <!-- No Cards -->
                        <div
                            v-show="!column.cards.length && newCardForColumn !== column.id"
                            class="flex-1 p-4 flex flex-col items-center justify-center"
                        >
                            <button
                                class="mt-1 text-medium text-white hover:text-gray-500"
                                @click="openAddCardForm(column.id)"
                            >
                                Add card
                            </button>
                        </div>
                        <!-- ./No Cards -->
                    </div>
                </div>
            </div>
            <!-- ./Columns -->
        </div>
    </div>
</template>

<script>
    import draggable from "vuedraggable";
    import AddCardForm from "./AddCardForm";
    import AddColumnForm from "./AddColumnForm";

    export default {
        components: {draggable, AddCardForm, AddColumnForm},
        props: {
            initialData: Array
        },
        data() {
            return {
                columns: [],
                newCardForColumn: 0,
            };
        },
        computed: {
            TaskDragOptions() {
                return {
                    animation: 200,
                    group: "card-list",
                    dragClass: "column-drag"
                };
            }
        },
        mounted() {
            // 'clone' the columns so we don't alter the prop when making changes
            this.columns = JSON.parse(JSON.stringify(this.initialData));
        },
        methods: {
            handleColumnAdded(newColumn) {
                // console.log(this.columns.length);
                console.log(newColumn);
                this.columns=newColumn;

                // this.columns = response.data.cards;
            },
            openAddCardForm(columnId) {
                this.newCardForColumn = columnId;
            },
            closeAddCardForm() {
                this.newCardForColumn = 0;
            },
            handleCardAdded(newCard) {
                // Find the index of the status where we should add the task
                const columnIndex = this.columns.findIndex(
                    column => column.id === newCard.column_id
                );
                // Add newly created task to our column
                this.columns[columnIndex].cards.push(newCard);

                // Reset and close the AddTaskForm
                this.closeAddCardForm();
            },
            handleCardMoved(evt) {
                axios.put("http://localhost/kanbanvue/public/cards/sync", {columns: this.columns}).catch(err => {
                    console.log(err.response);
                });
            },
            deleteColumn(columnId) {
                this.$swal({
                    icon: "warning",
                    title: "Are you sure to delete this column?",
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: false,
                            visible: true,
                            className: "",
                            closeModal: true

                        },
                        confirm: {
                            text: "Yes",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((res) => {
                    if (res) {
                        let url = 'http://localhost/kanbanvue/public/columns' + '/' + columnId;
                        axios.delete(url).then((response) => {
                            if (typeof response.data.error !== 'undefined') {
                                // Sin error
                                if (response.data.error === false) {
                                    this.columns = response.data.cards;
                                } else {
                                    this.$swal.fire(
                                        response.data.msj,
                                        'error',
                                    );
                                }

                            }
                        });
                    }


                })

            }

        }
    };
</script>

<style scoped>
    .column-drag {
        transition: transform 0.5s;
        transition-property: all;
    }
</style>
